#app {
    height: 100%;
}

/*
 * BackButton
 *  Ensure it's the same size as the SplitViewPaneToggle
*/
#app .win-backbutton {
    height: 48px;
    width: 48px;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}
#app .win-backbutton::before {
    font-size: 24px;
    line-height: 1.333;
    vertical-align: baseline;
}

/*
 * People Search Pane
*/

#app .peopleSearchPane .peopleListView .win-surface {
    margin-top: 0;
}

#app .peopleSearchPane .peopleListView .win-container {
    margin: 0;
    height: 48px;
}

#app .peopleSearchPane .peopleListView .win-item {
    height: 40px;
    padding-top: 8px;
    width: calc(100% - 12px);
    padding-left: 12px;
}

#app .peopleSearchPane .peopleListView .win-item .profilePicture {
    width: 34px;
    height: 34px;
    background-size: cover;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#app .peopleSearchPane .peopleListView .win-item .name {
    vertical-align: middle;
}

#app .peopleSearchPane .peopleListView .win-groupheadercontainer {
    width: 32px;
    height: 32px;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 12px;
}
#app .peopleSearchPane .peopleListView .win-groupheader {
    font-size: 15px;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: rgb(1, 121, 216);
    color: white;
    text-align: center;
    line-height: 32px;
}

.peopleToolBar .win-toolbar-actionarea {
    background-color: white;
}

/*
 * Profile Pane
*/

#app .profilePane {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

#app .profilePane .profileHeader {
    padding-bottom: 10px;
}

#app .profilePane .profileHeader .name {
    vertical-align: top;
    display: inline-block;
    font-size: 25px;
    padding-top: 6px;
}

.profileHeader .personInfo {
    display: flex;
}

#app .profilePane .profileHeader .profilePicture {
    width: 100px;
    height: 100px;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin-left: 25px;
    margin-top:10px;
}

.profileHeader .personInfo .profileStatus {
    width: 240px;
    margin-left:20px;
    margin-top:10px;
}

.profileHeader .personInfo .profileStatus .message {
    /*color: #ffffff;*/
    font-size: 14px;
}
.profileHeader .personInfo .profileStatus .source {
    display:block;
    color: grey;
    font-size: 13px;
}

.profileContent ul {
    list-style:none;
    padding-left: 25px;
    padding-right: 25px;
}

.profileContent ul li {
    margin-bottom:25px;
}

.separator {
    width:100%;
    height:2px;
    background-color:rgb(205, 205, 205);
}

.profileContent .phoneIcon,
.profileContent .callContent {
    display: inline-block;
    vertical-align: top;
}

.profileContent .videoCallIcon,
.profileContent .emailIcon,
.profileContent .messageIcon,
.profileContent .phoneIcon,
.profileContent .mapIcon {
    margin-right: 8px;
}

.profileContent .videoCallIcon::before {
    content: "\E13B";
}

.profileContent .emailIcon::before {
    content: "\E119";
}

.profileContent .messageIcon::before {
    content: "\E15F";
}

.profileContent .phoneIcon::before {
    content: "\E13A";
}

.profileContent .mapIcon::before {
    content: "\E139";
}
